<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- <p5 sketch="sketch"></p5> -->

            <p5 sketch="mySketch"></p5>

            <!-- test another var in the same controller -->
            <table ng-animate="'animate'" class="table table-striped animate-show" ng-show="peakFrequency">
                <caption>Sound Analysis</caption>
                <tbody>
                    <tr>
                        <td>Peak Frequency</td>
                        <td>{{peakFrequency}} Hz</td>
                    </tr>
                    <tr>
                        <td>Amplitude at Peak Frequency</td>
                        <td>{{peakAmplitude}}</td>
                    </tr>
                    <tr>
                        <td>Bass Frequency Energy</td>
                        <td>{{bass}}</td>
                    </tr>
                    <tr>
                        <td>Low-mid Frequency Energy</td>
                        <td>{{lowMid}}</td>
                    </tr>
                    <tr>
                        <td>Mid Frequency Energy</td>
                        <td>{{mid}}</td>
                    </tr>
                    <tr>
                        <td>Mid-High Frequency Energy</td>
                        <td>{{highMid}}</td>
                    </tr>
                    <tr>
                        <td>Treble Frequency Energy</td>
                        <td>{{treble}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <p>{{soundData}}</p> -->
        </div>
    </div>
</div>